@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main-font: Roboto, sans-serif;
    --color-white: #ffffff;
    --color-dark-w: #303030;
    --color-blue: #3a43c2;
    --color-light-blue: #7f85dd;
    --color-light-red: #ff5353;
}

body {
    font-family: var(--main-font);
    color: var(--color-white);
    background-color: var(--color-dark-w);
}

.container {
    width: 1080px;
    margin: 0 auto;
}

.slider {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slider__title {
    font-size: 56px;
    margin-top: auto;
    margin-bottom: 32px;
}

.slider__wrapper {
    width: 90%;
    height: 500px;
    background-color: #ffffff;
    margin-bottom: auto;
}

.slider__slides {
    width: 100%;
    height: 400px;
    background-color: #303030;
}

.slider__options {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__circle-wpapper {
    width: 40px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.nav__circle-wpapper:hover .nav__circle {
    background-color: var(--color-light-blue);
    border: 1px solid var(--color-white);
}

.nav__circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--color-blue);
    transition: 0.3s;
}

.nav__item {
   width: 0;
   height: 0;
   margin: 0;
}

#si-1:checked ~ .slider__wrapper .slider__options .nav .nav-c-1 .nav__circle {
    background-color: var(--color-white);
}

#si-2:checked ~ .slider__wrapper .slider__options .nav .nav-c-2 .nav__circle {
    background-color: var(--color-white);
}

#si-3:checked ~ .slider__wrapper .slider__options .nav .nav-c-3 .nav__circle {
    background-color: var(--color-white);
}

#si-4:checked ~ .slider__wrapper .slider__options .nav .nav-c-4 .nav__circle {
    background-color: var(--color-white);
}